* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: cornflowerblue;
  height: 45px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.navbar > .navbar-ul {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
}

.navbar > .navbar-ul-right {
  justify-content: end;
}

.navbar > .navbar-ul > .navbar-ul__logo {
  max-width: 30px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar > .navbar-ul > .navbar-ul__item {
  list-style: none;
  margin-right: 10px;
  color: aliceblue;
}

.navbar > .navbar-ul > .navbar-ul__item > a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

.navbar > .navbar-ul > .navbar-ul__item > strong {
  text-transform: capitalize;
}

main {
  margin: 10px 30px;
}

.container-todo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.todo{
  min-height: 80px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}