{% extends "bootstrap/base.html" %}

{% block head %}
  {{super()}}
  <title>{% block title %} Flask | {% endblock title %}</title>
  {% block styles %}
      {{super()}}
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  {% endblock %}
{% endblock head %}
{% block body %}
  {% block navbar %}
    {# 
    el include permite agregar un archivo completo de html en este archivo
    la diferencia con las macros es que los includes no recibe parametros
    #}
    {% include "navbar.html" %}
  {% endblock navbar %}
  <main>
  {% block content %} {% endblock content %}
  </main>  
{% endblock body %}

