<!DOCTYPE html>
<html lang="es_MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Flask | {% endblock title %}</title>
  </head>
  <body>
  <header>
  {# 
    el include permite agregar un archivo completo de html en este archivo
    la diferencia con las macros es que los includes no recibe parametros
  #}
    {% include "navbar.html" %}
  </header>
    {% block content %} {% endblock content %}
  </body>
</html>
