<nav class="navbar">
  <ul class="navbar-ul">
    <img src="{{url_for('static',filename='images/platzi.png')}}" alt="Platzi logo" class="navbar-ul__logo">
    <li class="navbar-ul__item"><a href="{{url_for('index')}}">Ir a inicio</a></li>
    <li class="navbar-ul__item"><a href="https://platzi.com" target="_blank">Ir a Platzi</a></li>
    <li class="navbar-ul__item"><a href="{{url_for('todos.add')}}" >Add Todo</a></li>
    
  </ul>
  <ul class="navbar-ul navbar-ul-right">
    {% if session.get('user_name') %}
    <span class="navbar-ul__item">User:   <strong>{{session.get('user_name')}}</strong></span>
    <li class="navbar-ul__item"><a href="/auth/logout" >logout</a></li>
    {% else %}
    <li class="navbar-ul__item"><a href="{{url_for('auth.login')}}" >Login</a></li>
    {% endif %}
  </ul>
</nav>